* {
    margin: 0 auto;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    width: 375px;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    margin: 40px auto;
    padding: 10px;
    width: 250px;
}

img {
    border-radius: 10px;
    width: inherit;
}

p {
    font-size: 15px;
    text-align: center;
    margin: 20px;
}

.top {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.bottom {
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    margin-bottom: 10px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}